<div class="UsersWrap">
  <h1 class="users-h1">ユーザー一覧</h1>

<div class="users-box">

    <% @users.each do |user| %>


    <div class="users-index">
      <div class="users-img">
        <img src="<%= "/user_images/#{user.image_name}" %>">
      </div>
      <p class="name">
        <%= link_to(user.name, "/users/#{user.id}/show") %>
      </p>
    </div>

    <% end %>

</div>

</div>
