<div class="PostsWrap">
  <h1 class="posts-h1">編集するの？</h1>
  <div class="posts-edit">

<%= form_tag("/posts/#{@post.id}/update") do %>

    <div class="posts">
        <textarea name="content"><%= @post.content %></textarea>
        <input type="submit" value="編集決定">

    </div>

<% end %>

  </div>
</div>
