<div class="PostsWrap">
  <h1 class="posts-h1">チャット形式やで</h1>

  <% @posts.each do |post| %>

  <ul class="posts">
    <li class="posts__list">
      <%= link_to(post.content, "/posts/#{post.id}/show") %>
    </li>
    <li class="posts__time">
      <%= post.updated_at %>
    </li>
  </ul>

  <% end %>

</div>
