<div class="PostsWrap">
  <h1 class="posts-h1">編集する？削除する？</h1>
  <div class="posts-show">

    <div class="posts">
      <p class="posts__list">
        <%= @post.content %>
      </p>
      <div class="posts__time">
        <%= @post.updated_at %>
      </div>
      <div class="edit-btn">

        <%= link_to("編集", "/posts/#{@post.id}/edit") %>

      </div>
      <div class="destroy-btn">

        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>

      </div>

    </div>
  </div>
</div>
