// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー一覧画面
.UsersWrap {
    position: absolute;
    right: 0;
    top: 50px;
    width: 88%;
    & .users-h1 {
        margin: 40px;
        color: rgb(83, 83, 83);
    }
    .users-box {
        margin: 0 100px;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: repeat(autofit, minmax(300px));
        gap: 40px;
        & .users-index {
            border: 1px solid rgba(160, 160, 160, 0.300);
            border-radius: 4px;
            background: white;
            text-align: center;
            color: rgb(83, 83, 83);
            height: 230px;
            & .users-img {
                & img {
                  margin: 30px auto;
                  width: 100px;
                  height: 100px;
                  background: rgba(128, 128, 128, 0.242);
                  border-radius: 50%;
                  border: 0.5px solid rgba(128, 128, 128, 0.542);
                }
            }
            & .name {
              cursor: pointer;
              font-size: 1.3rem;
              margin-bottom: 5px;
              font-weight: 600;
              & a {
                  color: rgb(83, 83, 83);
              }
            }

        }
    }
}

// 新規登録フォーム
.form {
        position: relative;
        width: 90%;
        height: 60vh;
        left: 40px;
        padding-top: 30px;
        border-radius: 4px;
        background: rgba(0, 190, 190, 0.104);
        & label {
          cursor: pointer;
            display: block;
            height: 10%;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 50px;
            color: rgb(83, 83, 83);
            font-size: 1.1rem;
            font-weight: 500;
        }
        & input[type="text"],input[type="password"] {
            padding: 10px;
            display: inline-block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border-radius: 4px;
            border: none;
            color: rgb(83, 83, 83);
            font-size: 1rem;
            outline: transparent;
        }
        & input[type="submit"] {
            position: absolute;
            right: 160px;
            top: 350px;
            margin: auto;
            background: rgb(0, 78, 78);
            width: 100px;
            height: 40px;
            padding: 9px 30px;
            border-radius: 4px;
            cursor: pointer;
            color: rgb(206, 206, 206);
            letter-spacing: 3px;
        }
    }

// ユーザー詳細ページ
.UsersWrap {
    position: absolute;
    right: 0;
    top: 50px;
    width: 88%;
    & .users-h1 {
        margin: 40px;
        color: rgb(83, 83, 83);
    }
    .users-show-box {
        margin-top: 50px;
        margin-left: 40px;
        width: 750px;
        height: 350px;
        & .users-show-index {
            border: 1px solid rgba(160, 160, 160, 0.300);
            border-radius: 4px;
            background: white;
            text-align: center;
            color: rgb(83, 83, 83);
            height: 350px;
            width: 750px;
            display: flex;
            & .users-show-img {
              width: 50%;
              padding: 65px 0;
                & img {
                  margin-bottom: 15px;
                  box-shadow: 20px 20px 30px -30px rgba(53, 47, 47, 0.15);
                  width: 170px;
                  height: 170px;
                  background: rgba(128, 128, 128, 0.242);
                  border-radius: 50%;
                  border: 0.5px solid rgba(128, 128, 128, 0.542);
                }
            }
            & .users-prof {
              border-radius: 4px;
              position: relative;
              // top: 15px;
              right: 15px;
                width: 50%;
                height: 90%;
                background: transparent;

                & .name, .email {
                  position: relative;
                  top: 60px;
                  cursor: pointer;
                  margin-bottom: 45px;
                  font-weight: 600;
                  font-size: 1.5rem;
                  letter-spacing: 3px;
                  & > p {
                    border-bottom: 2px solid rgba(0, 78, 78, 0.2);
                  }
                }
                & .edit {
                  position: relative;
                  top: 50px;
                  background: rgb(0, 78, 78);
                  width: 90px;
                  height: 35px;
                  padding: 5px 20px;
                  border-radius: 4px;
                  cursor: pointer;
                  margin: 0 auto;
                    & a {
                        color: rgb(206, 206, 206);
                        letter-spacing: 3px;
                        }
                      }
            }

        }
    }
}

// ユーザー編集ページ
.users-show-index {
  & .error-p {
    letter-spacing: 2px;
    color: rgb(121, 0, 0);
  }
  & input[type="file"] {
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    border: 0.5px solid rgba(0, 78, 78, 0.2);
    border-radius: 4px;
    font-weight: 700;
  }
  & .users-prof {
    & .name {
      & > p {
        position: relative;
        left: 55px;
        width: 50px;
        font-size: 0.7rem;
        margin-bottom: 20px;
      }
    }
    & .email {
      & > p {
        position: relative;
        left: 60px;
        width: 100px;
        font-size: 0.7rem;
        margin-bottom: 20px;
      }
    }
    & input[type="text"] {
      outline: none;
      font-size: 0.7rem;
      font-weight: 700;
      color: rgb(83, 83, 83);
      padding: 10px;
      width: 250px;
      height: 40px;
      border-radius: 4px;
      border: 0.5px solid rgba(0, 78, 78, 0.2);
      box-shadow: 20px 20px 30px -30px rgba(53, 47, 47, 0.15);
    }
  }
  & input[type="submit"] {
    position: relative;
    top: 40px;
    background: rgb(0, 78, 78);
    width: 100px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    padding-top: 5px;
    color: rgb(206, 206, 206);
    letter-spacing: 1.5px;
    font-size: 0.8rem;
  }

}

// ログイン画面
.login_form {
    position: relative;
    width: 90%;
    height: 50vh;
    left: 40px;
    padding-top: 50px;
    border-radius: 4px;
    background: rgba(0, 190, 190, 0.104);
    & label {
      cursor: pointer;
        display: block;
        height: 15%;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 70px;
        color: rgb(83, 83, 83);
        font-size: 1.1rem;
        font-weight: 500;
    }
    & input[type="text"],input[type="password"] {
        padding: 10px;
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 4px;
        border: none;
        color: rgb(83, 83, 83);
        font-size: 1rem;
        outline: transparent;
    }
    & input[type="submit"] {
        position: absolute;
        right: 160px;
        top: 27

        0px;
        margin: auto;
        background: rgb(0, 78, 78);
        width: 100px;
        height: 40px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        padding-top: 5px;
        color: rgb(206, 206, 206);
        letter-spacing: 1px;
        font-size: 0.9rem;
    }
}

.login_error {
  margin-left: 40px;
  letter-spacing: 2px;
  color: rgb(121, 0, 0);
}
